#monster-head{
    height: 100px;
    background-color: #808080;
    width: 100px;
    border-radius: 50px;
    position: fixed;
    left: 35px;
    top: 245px;
}
#monster-body{
    height: 200px;
    background-color: #800000;
    width: 150px;
    border-radius: 50px;
    position: fixed;
    top: 335px;
    left: 12px;
}
#eyes{
    position: fixed;
    background-color: #808080;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpPEluFq9zZ973Lqn0pu3TpdZllI_fW3L-3d7FMTzCFfbbDwAi);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    top: 260px;
    left: 60px;
    transparent: 25%;
#mouth{
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #808080;
	position: fixed;
	width: 50px;
    height: 50px;
	left: 60px;
	top: 270px;
	
}
    
    
}
.btn-leave {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
#door_close{
  background:  url(https://media.giphy.com/media/5DlwRpCbY156w/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
  font-size: 3em;
  
}
body {
    height: 100%
    width: 100%
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center center;
    
    
}
}
